{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron mt-2">
    <h1 class="display-5 text-md-center">About</h1>
    </div>
    <div class="card-body">
        <p class="text-center">
            <br><br>
            Zack Feldman and DJ Feldman are students of data science.
              <br><br>They are trying to advance the capabilities of machine learning to a new level
              <br><br>Standing on the shoulders of mathematical and theoretical giants, they apply old and new techniques to solve complex problems.
              <br><br>

          </p>
    </div>
</div>
    </div>
</div>

{% endblock content %}